/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Ubuntu:wght@300;400;500&display=swap');

/* ANIMATIONS */
@keyframes fadeup {
    from{
        transform: translateY(2rem);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

/* ANIMATION CLASS */
.fadeup{
    animation: fadeup 1s ease;
    opacity: 1 !important;
    transition: opacity 1s ease;
}

/* SPECIAL CLASSES */
.white{
    color: var(--bkg-color);
    -webkit-text-stroke: 2px var(--text-color);
}

.top-space{
    margin-top: 5rem;
}

.transparent{
    opacity: 0;
}

.tall{
    height: 50vw;
}

.wide{
    height: 25vw;
}

.short{
    margin: 0 !important;
}

.noshadow{
    box-shadow: none !important;
    overflow: visible !important;
}

.mobile{
    display: none;
}

.link::after {
    content: '';
    display: block;
    margin: auto;
    height: 0.1rem;
    width: 0px;
    background: var(--text-color);
    transition: all 0.1s linear;
}

.link:hover::after {
    width: 100%;
}

/* GENERAL CLASSES */
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

body{
    display: flex;
    flex-direction: column;
    --text-color: rgb(0, 0, 0);
    --bkg-color: #ffffff;
    font-family: 'Oswald', sans-serif;
    color: var(--text-color);
}

h1{
    font-size: 2.5rem;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

i{
    margin: 0 2rem;
    font-size: 4rem;
}

/* SPECIFIC CLASSES */
nav ul{
    list-style: none;
    position: absolute;
    top: 2rem;
    margin-top: 0;
    padding-left: 2rem;
}

.nav-link{
    display: inline-block;
    font-size: 1.2rem;
}

.nav-link::after{
    transition: all ease-in-out .2s;
    background: var(--text-color);
    content: "";
    display: block;
    height: 1px;
    width: 0;
}

.nav-link:hover:after {
    width: 100%;
}

.gala{
    position: absolute;
    right: 50vw;
    top: 2rem;
}

.nikolic{
    position: absolute;
    left: 50vw;
    top: 7rem;
}

.heading{
    margin-bottom: 15rem;
}

.heading p{
    font-size: 6rem;
    font-weight: 900;
    line-height: 5rem;
    margin: 0;
    padding: 0;
}

.sub-heading{
    font-size: 5rem;
    font-weight: 900;
    line-height: 5rem;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 2rem;
}

section p{
    font-size: 1.5rem;
    line-height: 2rem;
}

.wide-section{
    flex-direction: column;
    align-items: center;
}

.image-column{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.wide-column{
    width: 82%;
}

.image-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.image-container img{
    min-height: 100%;
    min-width: 100%;
}

#contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

#contact-details p{
    font-size: 3rem;
    margin: 1rem;
    text-transform: uppercase;
}

#contact-details img{
    height: 3rem;
    width: 3rem;
    margin: 0 1rem;
    border-radius: 1rem;
}

.contact-img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border: 2px solid black;
    display: none;
}

.contact-img img{
    min-width: 100%;
    min-height: 100%;
}

/* PAGE SPECIFIC CLASSES */
/* ABOUT ME PAGE */
.about-me-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about-text-container{
    max-width: 40rem;
    width: 50vw;
    margin: 2vw;
    font-family: 'Ubuntu', sans-serif;
}

.about-text-container p{
    font-size: 1rem;
}

.about-me-img{
    height: 37rem;
    width: 25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.about-me-img img{
    height: 100%;
}

/* MEDIA QUERIES */
@media screen and (max-width:950px){
    /* ABOUT ME */
    .about-me-container{
        flex-direction: column;
    }

    .about-text-container{
        max-width: 80rem;
        width: 90%;
    }

    .about-me-img {
        width: 90vw;
        height: 130vw;
        margin: 2rem 0;
    }

    .about-me-img img{
        
        min-width: 100%;
    }
}

@media screen and (max-width:700px){
    .mobile{
        display: block;
    }

    .desktop{
        display: none;
    }

    .top-space{
        margin: 0;
    }

    .gala{
        right: 2rem;
    }
    
    .nikolic{
        left: auto;
        right: 2rem;
        top: 6.5rem;
    }

    .heading p{
        font-size: 5rem;
        line-height: 4rem;
    }

    section{
        flex-direction: column;
    }

    .image-column{
        width: 100%;
    }

    .wide{
        height: auto;
    }

    .tall{
        height: auto;
        max-height: 90vh;
    }

    .reverse{
        flex-direction: column-reverse !important;
    }

    .image-container{
        margin-bottom: 5vw;
    }

    #contact-details p{
        font-size: 8vw;
    }

    #contact-details img{
        height: 8vw;
        width: 8vw;
    }
}

@media screen and (max-width:420px){
    i{
        margin: 0 1rem;
    }

    .nikolic{
        top: 25vw;
    }

    .heading p{
        font-size: 15vw;
        line-height: 15vw;
    }

    .sub-heading{
        font-size: 15vw;
        line-height: 15vw;
    }
}